.week-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.week-container {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100%/ 4);
}
.week-container:last-child {
    border-right: 1px solid black;
}