.day-list {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.day-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}
.day-container:last-child .day-name,
.day-container:last-child .day-number {
    border-right: none;
}
.day-container > div:not(.active-column) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50px;
}
.day-container:first-child .day-details.bordered {
    border-left: none;
    width: 100%;
}
.sf-cutoff,
.lf-cutoff,
.bf-cutoff {
    background-color: #464548;
    color: #fff;
    width: calc(100% - 1px);
}
.release-day {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        #f2f2f2 10px,
        #f2f2f2 20px
    );
}
.day-details p {
    font-size: 14px;
    margin: 0;
}
.day-name,
.day-number {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

/* active state */
.active-column {
    background-color: rgba(255, 0, 255, .25);
    background: repeating-linear-gradient(
        45deg,
        rgba(230, 5, 65, 0.25),
        rgba(230, 5, 65, .25) 10px,
        rgba(233, 36, 89, .35) 10px,
        rgba(233, 36, 89, .35) 20px
    );
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: calc(100% / 10);
}
.active-column[data-col-position='1'] {
    left: 0;
}
.active-column[data-col-position='2'] {
    left: calc(100% / 10);
}
.active-column[data-col-position='3'] {
    left: calc(100% / 10 * 2);
}
.active-column[data-col-position='4'] {
    left: calc(100% / 10 * 3);
}
.active-column[data-col-position='5'] {
    left: calc(100% / 10 * 4);
}
.active-column[data-col-position='6'] {
    left: calc(100% / 10 * 5);
}
.active-column[data-col-position='7'] {
    left: calc(100% / 10 * 6);
}
.active-column[data-col-position='8'] {
    left: calc(100% / 10 * 7);
}
.active-column[data-col-position='9'] {
    left: calc(100% / 10 * 8);
}
.active-column[data-col-position='10'] {
    left: calc(100% / 10 * 9);
}