.branch-container {
    display: flex;
    flex-direction: row;
}
.branch-develop,
.branch-release {
    display: flex;
    flex-direction: column;
}
.branch-develop {
    background-color: #3b3a3e;
    width: calc(100% / 10 * 5);
}
.branch-develop:first-child {
    width: calc(100% / 10 * 3);
}
.branch-develop:last-child {
    width: calc(100% / 10 * 2);
}
.branch-release {
    width: calc(100% / 10 * 5);
}