.branch-container {
    display: flex;
    flex-direction: row;
}
.branch-develop,
.branch-release {
    display: flex;
    flex-direction: column;
}
.branch-develop {
    width: calc(100% / 20 * 5);
}
.branch-develop:first-child {
    width: calc(100% / 20 * 3);
}
.branch-develop:last-child {
    width: calc(100% / 20 * 2);
}
.branch-release {
    width: calc(100% / 20 * 5);
}
.develop {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.branch-develop:last-child .develop {
    border-right: 1px solid black;
}
.release {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}