@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
body {
  font-family: 'Raleway', sans-serif;
}
.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
}

.App-header {
  background-color: #313034;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}
