.action-container {
    display: flex;
    flex-direction: row;
}
.action-wrapper-develop,
.action-wrapper-release {
    display: flex;
    flex-direction: column;
}
.action-wrapper-develop {
    background-color: #60B99A;
    width: calc(100% / 10 * 5);
    justify-content: center;
}
.action-wrapper-develop:first-child {
    width: calc(100% / 10 * 3);
}
.action-wrapper-develop:last-child {
    width: calc(100% / 10 * 2);
}
.action-wrapper-release {
    width: calc(100% / 10 * 5);
}
.nested-action {
    display: flex;
    flex-wrap: wrap;
}
.nested-action .action:first-child {
    flex-basis: 100%;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action.regression {
    background-color: #F1EFA5;
}
.action.defects {
    color: #fff;
    font-weight: 700;
    width: calc(100% / 5 * 3);
    background: repeating-linear-gradient(
        45deg,
        #F85D31,
        #F85D31 10px,
        #F9714B 10px,
        #F9714B 20px
    );
}
.action.blockers {
    color: #fff;
    width: calc(100% / 5 * 2);
    background: repeating-linear-gradient(
        45deg,
        #E60541,
        #E60541 10px,
        #EC4471 10px,
        #EC4471 20px
    );
}
.action.defects p,
.action.blockers p {
    font-weight: 700;
}