.action-container {
    display: flex;
    flex-direction: row;
}
.action-wrapper-develop,
.action-wrapper-release {
    display: flex;
    flex-direction: column;
}
.action-wrapper-develop {
    background-color: forestgreen;
    width: calc(100% / 20 * 5);
}
.action-wrapper-develop:first-child {
    width: calc(100% / 20 * 3);
}
.action-wrapper-develop:last-child {
    width: calc(100% / 20 * 2);
}
.action-wrapper-release {
    background-color: darkseagreen;
    width: calc(100% / 20 * 5);
}

.nested {
    display: flex;
    flex-wrap: wrap;
}
.nested .action:first-child {
    flex-basis: 100%;
}
.action.defects {
    width: calc(100% / 5 * 3);
    background-color: lightsteelblue;
}
.action.blockers {
    width: calc(100% / 5 * 2);
    background-color: deepskyblue;
}